<nav class="navbar flex flex-column md:flex-row p-3">
  <div class="navbar-logo">BTG Pactual</div>

  <ul class="navbar-tabs flex flex-column md:flex-row gap-3 md:mx-4">
    <li routerLinkActive="active">
      <a routerLink="/found" class="tab">Fondos</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/cartera" class="tab">Cartera</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/historial" class="tab">Historial</a>
    </li>
  </ul>

  <div class="navbar-actions flex items-center gap-3">
    <i class="fas fa-bell"></i>
    <i class="fas fa-cog"></i>
    <i class="fas fa-user"></i>
  </div>
</nav>
